version: '3.8'

services:
  ghost-patch:
    build: .
    container_name: ghost_patch_container
    restart: unless-stopped
    ports:
      - "5000:5000"
    device_cgroup_rules:
      - 'c 81:* rmw' # Permissions for video devices
    devices:
      - "/dev/video0:/dev/video0"
    volumes:
      - ./src:/app/src # Allow live editing of logic without rebuild
      - ./templates:/app/templates
